header {
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    background-repeat: repeat-x;
    background-position-x: right;
    height: 170px;
    width: 100%;
}

#logo {
    width: 18%;
    padding-top: 80px;
    padding-left: 15px;
}

.title {
    width: 100%;
    font-size: 50px;
    margin: 0%;
}

h1 {
    margin: 0%;
}

.author {
    color: #7a7a7a;
    margin-top: 0%;
    padding: 0%;
    font-size: 30px;
    display: block;
}

.date {
    color: #7a7a7a;
    margin-top: 0%;
    margin-bottom: 2%;
    padding: 0%;
    font-size: 15px;
    display: block;
}

.pic1 {
    display: inline;
    width: 40%;
}


.pic2 {
    display: inline;
    width: 40%;
}

.pics {
    width: 800px;
    height: 600px;
}

.captioncontainer {
    margin-bottom: 2%;
}

.caption {
    display: block;
}

.highlighted {
    background-color: yellow;
}

th {
    background-color: #4ea0ff;
    color: white;
}

.backcolor {
    background-color: #8fc0f8;
}

.tdspace {
    padding: 1%;
}